.icon-fab{
  font-size: 300%;
   display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #00FF00;
  color: #fff;
   border-radius: 110%;
  font-size: 2.5rem;
  margin-right: 2rem; 
  margin-bottom: 1.5rem;
}


.icon-fab:hover {
  background-color: #006400;
   color: #fff;
}